<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Authentication process</h1>
        <p class="lead">Project 403</p>
<div>
        <a href="/login" class="btn btn-default" style=" display: inline-block;"><span class="fa fa-sign-in"></span> Login</a>
        <form action="/loginbmw" method="post" style=" display: inline-block;">
            <input type="hidden" class="form-control" name="email"id="email" value="audi1234" >
            <input type="hidden" class="form-control" name="password" value="password"  />



            <a  onclick="document.forms[0].submit()" class="btn btn-default"style=" display: inline-block;"><span class="fa fa-sign-in"></span> Login BMW</a>

        </form>



        <a href="/signup" class="btn btn-default"style=" display: inline-block;"><span class="fa fa-user"></span> Signup</a>
        <a href="/signupcar" class="btn btn-default"style=" display: inline-block;"><span class="fa fa-user"></span> Signup a car</a>
</div>
        <!--  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->

      <!--  <button onclick="ShareFB()">DIMI !!!!</button>-->
      </div>
      <script>
          function ShareFB(){

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '200593680707099',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v2.12'
                });

                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        console.log('Logged in.');
                    }
                    else {
                        FB.login();
                    }
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          }
      </script>
    </div>
  </body>
</html>
